.App {
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.CalcContainer {
  background-color: black;
  width: 700px;
  border: 5px solid orange;
  margin: 250px auto;
  border-radius: 25px;
}

.DispContainer {
  margin-bottom: 10px;
  border-radius: 25px;
  margin-left: 5px;
  border: 3PX SOLID orange;
  margin-right: 5px;
  height: 60px;
  background-color: black;
  color: orange;
  padding: 3px;
}
.ButtonsContainer {
  border-radius: 25px;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 450px;
}

.ButtonsContainer button {
  border: 2px solid orange;
  margin-top: 5px;
  margin-left: 50px;
  background-color: black;
  color: orange;
  font-size: 1em;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Display {
  font-size: 2em;
  text-align: right;
}

.NameTitle {
  border-radius: 25px;
  background-color: black;
  padding: 10px;
  color: orange;
}

.NameTitle h1 {
  font-size: 1.5em;
  margin: 0;
}

.ButtonsContainer :nth-child(4) {
  background-color: orange;
  color: black;
}

.ButtonsContainer :nth-child(8) {
  background-color: orange;
  color: black;
}

.ButtonsContainer :nth-child(12) {
  background-color: orange;
  color: black;
}

.ButtonsContainer :nth-child(13) {
  background-color: orange;
  color: black;
}

.ButtonsContainer :nth-child(15) {
  background-color: orange;
  color: black;
  box-shadow: 1px;
}

.ButtonsContainer :nth-child(16) {
  background-color: orange;
  color: black;
  border: 1PX solid black;
}

.ButtonsContainer :nth-child(17) {
  margin-top: 10px;
  border: 3px solid orange;
  width: 350%;
  border-radius: 25px;
}

.ButtonsContainer button:hover {
  background-color: white;
  cursor: pointer;
  box-shadow: 0 0 10px orange;
}

.ButtonsContainer :nth-child(4):hover, 
.ButtonsContainer :nth-child(8):hover, 
.ButtonsContainer :nth-child(12):hover, 
.ButtonsContainer :nth-child(13):hover, 
.ButtonsContainer :nth-child(15):hover, 
.ButtonsContainer :nth-child(16):hover {
  background-color: white;
  cursor: pointer;
  box-shadow: 0 0 10px orange;
}